{% extends 'base_nomenu.html' %}pa
{% load static %}


{% block content %}
    <style>
        table {
            counter-reset: rowNumber;
        }
        
        table tbody tr::before {
            display: table-cell;
            counter-increment: rowNumber;
            content: counter(rowNumber) "";
            padding-right: 0.3em;
            padding-top: 0.7em;
            text-align: right;
            padding:1px; 
            margin:1px
        }

    </style>

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3> Quincena {{quincena.fechainicio}} - {{quincena.fechafin}} </h3>
            </div>
            <div class="col-sm-2"></div>
        </div>
        
        <hr>

        <form action="/personal/listado" method="GET">
            <div class="form-inline">
                <div class="col-2">
                </div>
                <div class="col-2">
                </div>
                <div class="col-8">
                    
                    
                </div>
            </div>

            <br>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Apellido y Nombre</th>
                        <th>Fecha Ingreso </th>
                        <th>Horas </th>
                        <th>Categoria</th>
                        <th> </th>
                        <th>Contratista / Obra</th>
                    </tr>
                </thead>

                <tbody>
                    {% for personal in personales %}
                    <tr>
                        <td style="padding:1px; margin:1px"> {{ personal.personal.apellido }}, {{ personal.personal.nombre }}  </td>
                        <td style="padding:1px; margin:1px"> {{ personal.alta | date:"d-m-Y" }} </td>
                        <td style="outline: thin solid; padding:1px; margin:1px"> </td>
                        <td style="padding:1px; margin:1px"> {{ personal.personal.categoria }}  </td>
                        <td style="outline: thin solid; width: 110px; padding:1px; margin:1px"> </td>
                        {% if personal.personal.contratista %}
			    {% if personal.personal.obra %}
                           	 <td style="padding:1px; margin:1px">{{ personal.personal.contratista }} / {{personal.personal.obra}}  </td>
			     {% else %}
			         <td style="padding:1px; margin:1px"> {{personal.personal.contratista}} / -</td>
                             {%endif %}	
                        {% else %}
                            {%if personal.personal.obra%}
                                <td style="padding:1px; margin:1px">- / {{ personal.personal.obra }}  </td>
                            {% else %}
                                <td style="padding:1px; margin:1px">- / - </td>
                            {% endif %}    
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </form>

    </div>

{% endblock %}



{% block js_extra %}

    <script>

        function Volver() {
            window.location.replace("/personal/quincena/editar/{{quincena.pk}}");
        }

        $(document).ready(function () {
            //window.print();
            //Volver();
        });

    </script>

{% endblock %}
