{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
                <h2>Detalle Quincena - {{quincena.fechainicio}} - {{quincena.fechafin}} </h2>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" title="Imprimir" onclick="location.href='/personal/quincenadetalle/new/{{pk}}'">
                    <i class="fas fa-plus"></i>
                </button>

                <button type="button" class="btn btn-default" title="Imprimir" onclick="location.href='/personal/imprimirquincena/{{pk}}'">
                    <i class="fas fa-print"></i>
                </button>
            </div>
        </div>

        <div class="row">
            
            <div class="col-12">
             
                <form  method="POST">{% csrf_token %}

                    <!--div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div-->
                   
                </form>
            </div>

            <hr>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Apellido y Nombre</th>
                        <th>Fecha Ingreso </th>
                        <th>Horas </th>
                        <th>Categoria</th>
                        <th>Contratista / Obra</th>
                    </tr>
                </thead>

                <tbody>

                    {% for personal in personales %}
                    <tr>
                        <td>{{ personal.personal.apellido }}, {{ personal.personal.nombre }}  </td>
                        <td> {{ personal.alta | date:"d-m-Y" }} </td>
                        <td style="outline: thin solid"> </td>
                        <td>{{ personal.personal.categoria }}  </td>

                        {% if personal.personal.contratista %}
                            <td>{{ personal.personal.contratista }} / {{personal.personal.obra}}  </td>
                        {% else %}
                            {%if personal.personal.obra%}
                                <td>- / {{ personal.personal.obra }}  </td>
                            {% else %}
                                <td>- / - </td>
                            {% endif %}    
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        
    </div>


    

{% endblock %}


{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_banco').select2();
        });

    
    </script>
    
    
    <script>
        function Volver() {
            window.location.replace("/personal/bancos/listado");
        }
    </script>

{% endblock %}