{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Detalle Quincena - {{quincenadetalle.quincena.fechainicio}} - {{quincenadetalle.quincena.fechafin}} </h2>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-default" title="Imprimir" onclick="location.href='/personal/imprimirquincena/{{pk}}'">
                    <i class="fas fa-print"></i>
                </button>
            </div>
        </div>

        <div class="row">
            
            <div class="col-12">
             
                <form  method="POST">{% csrf_token %}
                   

             

                    <!--div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div-->
                   
                </form>
            </div>

            <hr>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Apellido y Nombre</th>
                        <th>Fecha Ingreso </th>
                        <th>Horas </th>
                        <th>Categoria</th>
                        <th>Contratista / Obra</th>
                    </tr>
                </thead>

                <tbody>
                    {% for quincenadetalle in quincenasdetalles %}
                    <tr>
                        <td>{{ quincenadetalle.personal.apellido }}, {{ quincenadetalle.personal.nombre }}  </td>
                        <td> {{ quincenadetalle.alta}} </td>
                        <td style="outline: thin solid"> </td>
                        <td>{{ quincenadetalle.personal.categoria }}  </td>
                        {% if quincenadetalle.personal.contratista%}
                            <td>{{ quincenadetalle.personal.contratista }} / {{quincenadetalle.personal.obra}}  </td>
                        {% else %}
                            <td>- / {{ quincenadetalle.personal.obra }}  </td>
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        
    </div>


    

{% endblock %}


{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_banco').select2();
        });

    
    </script>
    
    
    <script>
        function Volver() {
            window.location.replace("/personal/bancos/listado");
        }
    </script>

{% endblock %}