{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Datos de la Cuota.</h2>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            
            <div class="col-12">
                <hr>
                <form id="dataform" method="POST">{% csrf_token %}
                    {{ form.as_p }}

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListado()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>
            
        </div>
        
    </div>


    

{% endblock %}


{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_departamento').select2();
            TranslateDatepickerToEs($("#id_fecha"));
        });


        $('#btn-guardar').on('click',function(e){

            e.preventDefault();
            //var form = $(this).parents('form');
            var form = document.getElementById("dataform");

            Swal.fire({
                title: "Desea generar las cuotas?",
                text: "Esta por generar cuotas para el departamento seleccionado.",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si, Generar!",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                console.log(result);
                console.log(result.value);
                console.log(result["value"]);
                if (result.value) {
                    console.log("paso");
                    form.submit();
                }else{
                    console.log("no paso");
                }
            });
        });



        function IrListado() {
            window.location.replace(
                "/alquileres/cuotacontrato/listado/" + {{contrato}}
            );
        }
    </script>

{% endblock %}