
{% extends 'base_empty.html' %}

{% load humanize %}

{% block content %}

    <style>
        .fecha{
            font-size: 22px;
        }
        .div-center {
            text-align: justify;
            font-size: 22px;
        }

        p {
            border: solid #000 4px;
            text-align: center;
        }
    </style>


    <h4>
        RECIBO <b> "{{recibo.departamento.edificio.descripcion.upper}}" </b>
    </h4>

    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4 fecha">
            Formosa, {{recibo.fecha}}
        </div>
    </div>

    <br>

    <div class="div-center">

    Recibí del Sr/a <b> {{recibo.departamento.inquilinoapellido.upper}}, {{recibo.departamento.inquilinonombre.upper}} </b>, la suma de <b> PESOS: 
    {{montoletras}} </b>, en concepto del pago del alquiler del <b> {{recibo.departamento.descripcion.upper}} </b>, correspondiente al mes
    de {{mes}} / {{recibo.anio}} y expensas.
    </div>


    <div class="row">
        <div class="col-sm-2 fecha">
            <p>
                $ {{recibo.monto_calculado | intcomma}}
            </p>
            
        </div>

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 fecha">
           
        </div>

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            .........................................................
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <h4>
        RECIBO <b> "{{recibo.departamento.edificio.descripcion.upper}}" </b>
    </h4>

    <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4 fecha">
            Formosa, {{recibo.fecha}}
        </div>
    </div>

    <br>

    <div class="div-center">

        Recibí del Sr/a <b> {{recibo.departamento.inquilino_apellido.upper}}, {{recibo.departamento.inquilino_nombre.upper}} </b>, 
        la suma de <b> PESOS: {{montoletras}} </b>, en concepto del pago del alquiler del <b> {{recibo.departamento.descripcion.upper}} 
        </b>, correspondiente al mes de {{mes}} / {{recibo.anio}} y expensas.
    </div>


    <div class="row">
        <div class="col-sm-2 fecha">
            <p>
                $ {{recibo.monto_calculado | intcomma }}
            </p>
            
        </div>

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 fecha">
           
        </div>

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            .........................................................
        </div>
    </div>
          
    
{% endblock %}


{% block js_extra %}

   

{% endblock %}
