{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Datos del Recibo.</h2>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}
                    {{ form.as_p }}

                    <p>
                        <label for="id_montofinal">Monto Final: </label> 
                        <input type="number" name="montocalculado" step="any" class="form-control" id="id_montofinal" disabled>
                    </p>


                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListado()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>
            
        </div>
        
        <div class="row">
            <table id="myTable">
            </table>
        </div>
    </div>


    

{% endblock %}


{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_departamento').select2();
            TranslateDatepickerToEs($("#id_fecha"));

            $('#id_monto').on('keyup', function() {
                $.ajax({
                    type: "GET",
                    url: "/alquileres/recibo/ajax-monto/",
                    data: {
                        fecha: $('#id_fecha').val(),
                        mes: $('#id_mes').val(),
                        anio: $('#id_anio').val(),
                        departamento: $('#id_departamento').val(),
                        monto: $(this).val()
                    },
                    success: function (response) {
                        $('#id_montofinal').val(response.monto_calculado);
                    }
                });

            });

            $('#id_departamento').on('change', function() {
                
                var selectedValue = $(this).val();
                $('#myTable').empty();

                $.ajax({
                    type: "GET",
                    url: "/alquileres/cuotacontrato/ajax-deudas/",
                    data: {
                        departamento: selectedValue,
                    },
                    success: function (response) {
                        console.log(response);

                        $.each(jsonData.headers, function(key, value) {
                            const $headerCell = $('<th>').append($('<a>').addClass('sort').attr('href', '#').append($('<span>').text(value)));
                            $headerRow.append($headerCell);
                        });

                        /*
                        $.each(response, function (indexInArray, valueOfElement) { 
                            //var row = '<tr><td>' + item.name + '</td><td>' + item.price + '</td></tr>';  
                            //$('#myTable').append(row);
                        });
                        /*
                        response.forEach(function(item) {
                            var row = '<tr><td>' + item.name + '</td><td>' + item.price + '</td></tr>';
                            $('#myTable').append(row);
                        });*/
                    }
                });

                //$('#myTable').empty();

                // Populate the table with new data
                /*
                data.forEach(function(item) {
                    var row = '<tr><td>' + item.name + '</td><td>' + item.price + '</td></tr>';
                    $('#myTable').append(row);
                });
                */
            });










        
        });

    </script>
    
    
    <script>
        function IrListado() {
            window.location.replace("/alquileres/recibo/listado");
        }
    </script>

{% endblock %}