{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Datos del Recibo.</h2>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}
                    {{ form.as_p }}

                    
                        
                    
               

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListado()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
            
        </div>

        <!--div id="alertas" class="alert alert-warning" role="alert" style="display: block;">
        </div-->

        <div id="alertas">
        </div>
        
    </div>


    

{% endblock %}


{% block js_extra %}

    <script>

        function getCuotasAdeudadas(){
            var id_departamento = $('#id_departamento').val();
            var fecha = $('#id_fecha').val();
            var valor_mes = $("#id_mes").val();
            var valor_anio = $("#id_anio").val();
            var cuota = valor_mes + "-" + valor_anio;

            $('#alertas').empty();

            $.ajax({
                type: "GET",
                url: "/alquileres/cuotacontrato/ajax-deudas/",
                data: {
                    departamento: id_departamento,
                    fecha: fecha,
                    mes: valor_mes,
                    anio: valor_anio
                },
                success: function (response) {
                    //busco el monto correspodiente a la cuota

                    if(response.ultimorecibo==0){
                        console.log("Pasa aca");
                        var mensaje = '<div id="alertas" class="info alert-info" style="display: block;"> &nbsp;&nbsp; SIN NOVEDAD. </div>';
                        $('#alertas').append(mensaje);
                    }else{
                        var data = JSON.parse(response.ultimorecibo);
                        var mes = data[0].fields.mes;
                        var anio = data[0].fields.anio;
                        var montorecibo = data[0].fields.monto_calculado;
                        var mensaje = '<div id="alertas" class="alert alert-warning" style="display: block;"> ULTIMA CUOTA PAGADA:' + mes + "-" + anio + "- $ "  + montorecibo + "- Base:$ " + response.montodepartamento  + '</div>';
                        $('#alertas').append(mensaje);
                    }

                    $('#id_monto_calculado').val(response.monto);

                }
            });
        }


        function getDatosRecibo(){
            var id_departamento = $('#id_departamento').val();
            var fecha = $('#id_fecha').val();
            var valor_mes = $("#id_mes").val();
            var valor_anio = $("#id_anio").val();
            var cuota = valor_mes + "-" + valor_anio;

            $.ajax({
                    type: "GET",
                    url: "/alquileres/cuotacontrato/ajax-deudas/",
                    data: {
                        departamento: id_departamento,
                        fecha: fecha,
                        mes: valor_mes,
                        anio: valor_anio
                    },
                    success: function (response) {
                        //busco el monto correspodiente a la cuota

                        $.each(response, function(key, value) {
                            if(value.cuota == cuota){
                                $('#id_montofinal').val(value.monto);
                                return false;
                            }else{
                                $('#id_montofinal').val(0);
                            }
                        });

                    }
                });
        }

        $(document).ready(function () {
            $('#id_departamento').select2();
            TranslateDatepickerToEs($("#id_fecha"));

            $('#id_departamento').on('change', function() {
                //getDatosRecibo();
                getCuotasAdeudadas();
            });

            $('#id_mes').on('change', function() {
                //getDatosRecibo();
                getCuotasAdeudadas();
            });

            $('#id_anio').on('change', function() {
                //getDatosRecibo();
                getCuotasAdeudadas();
            });
        });

        
        function IrListado() {
            window.location.replace("/alquileres/recibo/listado");
        }
    </script>

{% endblock %}
