
{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">

        <br>
        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3> Pagos por lote. </h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}


        <form>

            <div class="form-inline">
                <div class="col-3">
                    <select id="selectmediospago" class="form-control">
                        <option value=0>---------------</option>
                        {% for mediopago in mediospago %}
                            <option value={{mediopago.pk}}> {{mediopago.descripcion}}  </option>
                        {%endfor%}
                    </select>

                </div>

                <div class="col-3">
                    <select id="selectbanco" class="form-control">
                        <option value=0>---------------</option>
                        {% for banco in bancos %}
                            <option value={{ banco.pk }}> {{ banco.descripcion}} </option>
                        {%endfor%}
                    </select>
                
                </div>

                <div class="col-3">
                    <input type="number" class="form-control" id="txtnumerocheque" name="txtnumerocheque" placeholder="Numero cheque">
                </div>
                
                <div class="col-3">
                    <input type="number" class="form-control" id="txtmonto" name="txtmonto" placeholder="Monto....">
                </div>
            </div>
            
            <br>

            <div class="form-inline">
                <div class="col-3"> 
                    <label id="lblmonto" name="lblmonto">
                    </label>
                </div>

                <div class="col-3">
                    <label id="lbltotalfacturas" name="lbltotalfacturas">
                    </label>
                </div>

                <div class="col-3">
                    <label id="lbldiferencia" name="lbldiferencia">
                    </label>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-default" id="btnpagar" onclick="manejaBoton()">
                        <i class="fas fa-hand-holding-usd"></i>
                        Pagar
                    </button>
                </div>
                
            </div>

            <br>

            <table id="proveedorTabla" class="table table-hover">
                <thead>
                    <tr>
                        <th>Proveedor</th>
                        <th>Comprobante</th>
                        <th>Monto</th>
                        <th>Quitar</th>
                    </tr>
                </thead>

                <tbody>
                    {% for factura in facturas%}
                        <tr>
                            <td>
                                {{factura.proveedor.nombrefantasia}}
                            </td>
                            <td>
                                {{factura.comprobante}}
                            </td>
                            <td>
                                {{factura.gettotalfactura}}
                            </td>

                            <td>
                                <div class="form-check">
                                    <input id="{{factura.pk}}" onclick="agregarElemento(this)" type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>

        </form>

    </div>

{% endblock %}


{% block js_extra %}
    
    <script>

        var miArray = [];
        var miArrayMontos = [];

        var montos = 0;

        var valor = 0;

        function ajaxConsultaValorFactura(id, callback) {
            $.ajax({
                type: "GET",
                url: "/devengamiento/ajaxconsultafactura/" + id,
                dataType: "json",
                success: function (response) {
                    callback(response.total); // Llama al callback con el valor obtenido
                }
            });
        }

        function ajaxPagarPorLote() {
            var datos = {
                facturas: miArray,
                mediopago: $("#selectmediospago").val(),
                banco: $("#selectbanco").val(),
                numerocheque: $("#txtnumerocheque").val(),
                monto: $("#txtmonto").val(),
            };

            $.ajax({
                type: "POST",
                url: "/devengamiento/ajaxpagarporlote/",
                data: JSON.stringify(datos),
                dataType: "json",
                success: function(respuesta) {
                    console.log("Respuesta del servidor:", respuesta);
                },
                error: function(error) {
                    console.error("Error:", error);
                }
            });
        }


        function sumarArray(numeros) {
            var acumulador = 0;
            numeros.forEach(elemento => acumulador += elemento);
            return acumulador;
        }


        function agregarElemento(el) {
            var diferencia = 0;
            if (el.checked) {
                miArray.push(el.id);
                ajaxConsultaValorFactura(el.id, function(valor) {
                    miArrayMontos.push(valor);
                    var saldo = sumarArray(miArrayMontos);
                    $("#lbltotalfacturas").text("Total Facturas a pagar $ " + saldo.toFixed(2));
                    $("#lblmonto").text("Monto: $ " + $("#txtmonto").val());
                    diferencia = $("#txtmonto").val() - saldo.toFixed(2);
                    $("#lbldiferencia").text("Diferencia: $ " + diferencia.toFixed(2));
                });

            } else {
                var elementoAEliminar = el.id;
                var indice = miArray.indexOf(elementoAEliminar);
                miArray.splice(indice, 1);

                ajaxConsultaValorFactura(el.id, function(valor) {
                    var elementoMontoAEliminar = valor;
                    var indicemonto = miArrayMontos.indexOf(elementoMontoAEliminar);
                    miArrayMontos.splice(indicemonto, 1);

                    var saldo = sumarArray(miArrayMontos);
                    $("#lbltotalfacturas").text("Total Facturas a pagar $ " + saldo.toFixed(2));
                    $("#lblmonto").text("Monto: $ " + $("#txtmonto").val());
                    
                    diferencia = $("#txtmonto").val() - saldo.toFixed(2);
                    $("#lbldiferencia").text("Diferencia: $ " + diferencia.toFixed(2));
                });
            }
        }


        function manejaBoton(){
            var banco = $("#selectbanco").val(); 
            var mediopago = $("#selectmediospago").val();
            var monto = $("#txtmonto").val();
            var numerocheque = $("#txtnumerocheque").val();

            if(mediopago==0){
                Swal.fire(
                    'Debe seleccionar un medio de pago.',
                    '',
                    'warning'
                )
                return false; 
            }

            if(mediopago==2){
                if(banco==0){
                    Swal.fire(
                        'Debe seleccionar un banco.',
                        '',
                        'warning'
                    );
                    return false; 
                }
            }

            if(numerocheque==0 || numerocheque==""){
                if(mediopago==2){
                        Swal.fire(
                        'El numero de cheque no puede estar vacio si el medio de pago es CHEQUE.',
                        '',
                        'warning'
                    )
                    return false;
                }
            }

            if(monto=="" || monto==0){
                Swal.fire(
                    'El monto no puede estar vacio o ser 0.',
                    '',
                    'warning'
                )
                return false;    
            }

            if(miArray.length === 0){
                Swal.fire(
                    'Debe elegiar al menos una factura.',
                    '',
                    'warning'
                )
                return false;
            }else{
                ajaxPagarPorLote();
            } 
        }

                
        $(document).ready(function () {
            
            $('#txtmonto').on('change keyup', function (e) { 
                $("#lblsaldo").text(0);
            })
            
        });

    </script>

{% endblock %}