
{% extends 'base_nomenu.html' %}
{% load humanize %}
{% load static %}

{% block content %}

    <div class="container">
        <!--header class="onlyprint">
            <img style="float: right;" src="{% static "images/logo.jpg" %}" alt="" width="150" height="93">
        </header-->

        <br>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">DESDE: {{fechadesde}}</div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">HASTA: {{fechahasta}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h5> RESUMEN </h5>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Comprobante</th>
                            <th>Obra</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario incl Impuestos</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    
                    <tbody>                   
                        {% for detalle in detallefacturaproveedor%}
                        <tr>
                                <td>{{ detalle.factura.fecha }}  </td>
                                <td>{{ detalle.factura.comprobante }}  </td>
                                <td>{{detalle.obra}}</td> 
                                <td>{{ detalle.descripciondetalle }} </td>
                                <td>{{ detalle.cantidad }} </td>
                                <td>$ {{ detalle.getpreciounitarioiva | intcomma }} </td>
                                <td>$ {{ detalle.getpreciounitarioxcantidad | intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <h5>Total: $ {{ total | intcomma }}</h5>
                {% for b in banco %}
					<h6>Banco: {{b.descripcionbanco.upper}} </h6>
					<h6>Alias: {{b.alias}} </h6>
					<h6>CBU: {{b.cbu}} </h6>
                {% endfor %}
        <hr>

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

