
{% extends 'base_nomenu_portrait.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <div class="tituloscertificado">    
            <br>
            <b>CERTIFICADOS</b>
            <br>
        </div>

        <div class="titulosingreso">
            
            <b>EMPRESA:</b> {{obra.empresa.descripcion }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>CERTIFICADO:</b> {{texto}} 
            
            <br>
            <b>DIRECCION:</b> {{obra.empresa.domicilio}}
            <br>
            <b>TELEFONO:</b> {{obra.empresa.telefono }}
        </div>

        <hr>

        <div class="titulosingreso">
            <b>OBRA:</b> {{obra.descripcion }}
            <br>
            <b>LICITACION:</b> 
            {% if obra.licitacion %}
                {{obra.licitacion }}
            {%else%}
                -
            {%endif%}
        </div>
        <hr>

            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Monto</th>
                    </tr>
                </thead>

                <tbody>
                    {% for k,v in resultados.items %}
                    <tr>
                        <td>{{ k }}  </td>
                        <td>$ {{ v | intcomma }}</td>
                    </tr>
                    {% endfor %}
                    
                    <tr>
                        <td><b> SUMA EGRESOS </b> </td>     
                        <td> <b> $ {{ total_egresos | intcomma }} </b> </td>
                    </tr>             
                </tbody>
            </table>
        <hr>
    </div>


{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

