
{% extends 'base_nomenu.html' %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <h3> Detalle Pesupuesto por Contratisa. </h3>
            </div>

            <div class="col-sm-1"></div>
        </div>
        
                <table class="table table-bordered">
                    
                        <h5>{{c}} </h5>
                        <thead>
                            <tr>
                                <th>Contratista</th>
                                <th>Obra</th>
                                <th>Importe</th>
                                <th>Entregado</th>
                                <th>Saldo</th>
                                <!--th>Pagado Parcial</th-->
                            </tr>
                        </thead>
                    
                    <tbody>
                        {% for r in result %}                   
                        <tr>
                            <td>{{ r.contratista__descripcion }}  </td>
                            <td>{{ r.presupuesto__obra__descripcion }}</td>
                            <td>{{ r.total_importe }}</td> 
                            <td>{{ r.total_entregado  }} </td>
                            <td>{{ r.saldo }} </td>
                        </tr>
                        {% endfor %}             
                    </tbody>
                </table>
        
                <h5>Total Gasto: $ {{ totalgasto | floatformat:2 }}</h5>
                
        <hr>

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

