
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h3> Detalle Gastos por Obra - {{obra}} </h3>
            </div>
            <div class="col-sm-1"></div>
        </div>
        
                <table>
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>PROVEEDOR</th>
                            <th>COMPROBANTE</th>
                            <th>DESCRIPCION</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO FINAL</th>
                            <th>PAGADO</th>
                            <!--th>Pagado Parcial</th-->
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                        {% for detalle in detallesfacturas%}                   
                        <tr>
                                <td style="width: 10%;">{{ detalle.factura.fecha | date:"d-m-Y" }}  </td>
                                <td>{{ detalle.factura.proveedor}}</td>
                                <td>{{ detalle.factura.comprobante}}</td> 
                                <td>{{ detalle.descripciondetalle }} </td>
                                <td>{{ detalle.cantidad | intcomma }} </td>
                                <td>$ {{ detalle.getpreciototalfinal | floatformat:2 }} </td>
                                {%if detalle.factura.pagado %}
                                    <td> SI </td>
                                {% else %}
                                    <td> NO </td>
                                {% endif %}

                                {%if detalle.factura.pagoparcial %}
                                    <!--td> SI </td-->
                                {% else %}
                                    <!--td> NO </td-->
                                {% endif %}
                        </tr>
                        {% endfor %}             
                    </tbody>
                </table>
        
                <h5>Total Gasto: $ {{ totalgasto | intcomma }}</h5>
                
        <hr>

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

