
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h3> Detalle Gastos por Obra - {{obra}} </h3>
            </div>
            <div class="col-sm-1"></div>
        </div>
        
                <table>
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>PROVEEDOR</th>
                            <th>COMPROBANTE</th>
                            <th>DESCRIPCION</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO NETO</th>
                            <th>PRECIO C/IVA</th>
                            <th>PRECIO TOTAL</th>
                            <th>PAGADO</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for key, value in dictmaster.items %} 
                            <tr>
                                <td> </td>
                                <td> <b> <u> {{key.upper}} </u> </b> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            {% for v in value%}
                                    <tr>
                                        <td> {{v.fecha}} </td>
                                        <td> {{v.razonsocial}} </td>
                                        <td> {{v.comprobante}} </td>
                                        <td> {{v.descripciondetalle}} </td>
                                        <td> {{v.cantidad}} </td>
                                        <td> {{v.preciounitario | intcomma}} </td>
                                        <td> {{v.preciofinal | intcomma}} </td>
                                        <td> {{v.preciototal | intcomma}} </td>
                                        <td> {{v.pagado}} </td>
                                    </tr>
                            {% endfor %}
                            
                            {%for keysub, valuesub in subtotales.items %}
                                {% if keysub == key %}
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td> <b> <u> {{ keysub.upper }} </u> </b> </td></td>
                                        <td> <b> <u> $ {{valuesub | intcomma }} </u> </b> </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {%endfor%}
                        {% endfor %}
                    </tbody>
                </table>

                <h5>Total Gasto: <b> <u> $ {{ totalgasto | intcomma }} </u> </b> </h5>

		<br>
	        <hr>
		<h5>PRESUPUESTOS</h5>
                <table>
                    <thead>
                        <tr>
			                <th>FECHA</th>
                            <th>CONTRATISTA</th>
                            <th>MONTO ENTREGADO </th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for p in presupuestos %}                   
                        <tr>
			    <td> {{ p.fecha | date:"d-m-Y" }}</td>
                            <td>{{ p.contratista }}</td>
                            <td> $ {{ p.entregado | intcomma }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <h5>Total Entregado: <b> <u> $ {{ totalentregado | intcomma }} </b> </u></h5>
                
                <hr>
                <h4>Total: <b> <u> $ {{ total | intcomma }} </b> </u></h4>
                <hr>   

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

