
{% extends 'base_nomenu_portrait.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <div>    
            <br>
            <h5><b>RESUMEN PRESUPUESTO</b></h5>
        </div>
        
        <hr>
        
        <div>
            <b>PRESUPUESTO: {{presupuesto.pk}} </b>
            <br>
            <b>CONTRATISTA: {{contratista.descripcion}} </b>
            <br>
            <b>OBRA: {{presupuesto.obra.descripcion}} </b>
            <br>
        </div>
        <br>    
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Detalle</th>
                    <th>Presupuesto</th>
                    <th>Entregado</th>
                </tr>
            </thead>

            <tbody>
                {% for detalle in detallespresupuestos %}
                    <tr>
                        <td>{{ detalle.fecha }} </td>
                        <td>{{ detalle.descripcion }} </td>
                        <td>$ {{ detalle.importe | intcomma }} </td>
                        <td>$ {{ detalle.entregado | intcomma }} </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td><b>$ {{ montoimporte | intcomma }} </b></td>
                        <td><b>$ {{ montoentregado | intcomma }} </b></td>
                    </tr>
                    
            </tbody>
        </table>
        <hr>
    </div>


{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

