
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <!--div class="container">

        <!--br-->

        
        
            <!--div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <h3> PRESUPUESTO. </h3>
                </div>

                <div class="col-sm-1"></div>
            </div-->

            {% for key, value in result.items %}        
                <div style="page-break-before: always;">
                <h5> PRESUPUESTO. </h5>
                <br>
                <b>{{key}}</b>
                <table>
                    <thead>
                        <tr>
                            <th>COD.</th>
                            <th>OBRA</th>
                            <th>IMPORTE</th>
                            <th>ENTREGADO</th>
                            <th>SALDO</th>
                            <th>TOTAL EJECUTADO</th>
                            <th>IMPORTE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                    </thead>

                    {% for v in value %}
                        {% if v.codigo %}
                            <tbody>
                                <tr>
                                    <td sytle="width:10%;" >{{ v.codigo }}  </td>
                                    <td sytle="width:34%;">{{ v.obra }}</td>
                                    <td sytle="width:10%;"> $ {{ v.importe | intcomma }}</td> 
                                    <td sytle="width:10%;"> $ {{ v.entregado | intcomma  }} </td>
                                    <td sytle="width:10%;"> $ {{ v.saldo | intcomma }} </td>
                                    <td style=" outline: thin solid; width:13%;"> </td>
                                    <td style=" outline: thin solid; width:13%;"> </td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {%endfor%}

                    <tr>
                        <td >&nbsp;</td>
                        <td >
                            <b>SUMA {{key}}</b>
                        </td>
                        <td >{% with value|last as last %}
                               <b> $ {{ last.totalimporte | intcomma }} </b>
                            {% endwith %} 
                        </td> 
                        <td >{% with value|last as last %}
                                <b> $ {{ last.totalentregado | intcomma }} </b>
                            {% endwith %} 
                        </td>
                        <td>
                            {% with value|last as last %}
                                <b> $ {{ last.totalsaldo | intcomma }} </b>
                            {% endwith %}
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                </table>
                <br>
                </div>  
                {% endfor %}

                      
    <!--/div-->



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

