
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-8"><h4>CERTIFICADOS</h4> </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-8"><h5>EMPRESA: {{obra.empresa.descripcion }}</h5> </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-8"><h5>OBRA: {{obra.descripcion }}</h5> </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>
        
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Factura</th>
                            <th>Detalle</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for resultado in resultados %}                   
                        <tr>
                            <td>{{ resultado.fecha | date:"d-m-Y" }}  </td>
                            <td>{{ resultado.comprobante}}</td>
                            <td>{{ resultado.descripcion}}</td> 
                            <td>$ {{ resultado.totalfacturacion |intcomma }} </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><b> SUMA </b> </td>
                            <td></td>
                            <td></td> 
                            <td> <b> $ {{ total | intcomma }} </b> </td>
                        </tr>             
                    </tbody>
                </table>
                
                <!--h5>Total Ingreso: $ {{ total | intcomma }}</h5-->
                
        <hr>

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

