
{% extends 'base_nomenu_portrait.html' %}

{% load humanize %}

{% block content %}

<style>  
    
    .tituloscertificado {
      font-size: 16px;
    }

    .titulosingreso {
      font-size: 14px;
    }
</style>

    <!--div class="container"-->
        
        <div class="tituloscertificado">    
            <br>
            <b>CERTIFICADOS</b>
            <br>
        </div>

        <div class="titulosingreso">
            <b>EMPRESA:</b> {{obra.empresa.descripcion }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>CERTIFICADO:</b> {{texto}} 
            <br>
            <b>DIRECCION:</b> {{obra.empresa.domicilio}}
            <br>
            <b>TELEFONO:</b> {{obra.empresa.telefono }}
        </div>
        
        <hr>

        <div class="titulosingreso">
            <b>OBRA:</b> {{obra.descripcion }}
            
            <br>
            <b>LICITACION:</b> 
            {% if obra.licitacion %}
                {{obra.licitacion }}
            {%else%}
                -
            {%endif%}
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>FACTURA</th>
                    <th>DETALLE</th>
                    <th>COD_INGRESO</th>  
                    <th>MONTO</th>
                </tr>
            </thead>
                    
            <tbody>
                {% for resultado in resultados %}                   
                    <tr>
                        <td>{{ resultado.fecha | date:"d-m-Y" }}  </td>
                        <td>{{ resultado.comprobante}}</td>
                        <td>{{ resultado.descripcion}}</td>
                        <td>{{ resultado.codingreso}}</td>
                        <td>$ {{ resultado.totalfacturacion |intcomma }} </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><b> SUMA </b> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% if total %}
                            <td> <b> $ {{ total | intcomma }} </b> </td>
                        {% else %}
                            <td> <b> $ 00,00 </b> </td>
                        {% endif %} 
                       
                    </tr>             
                </tbody>
        </table>

    <!--/div-->



{% endblock %}

    <script>
        $(document).ready(function () {            
        });
    
    </script>
