
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h3> Detalle Gastos por Obra - {{obra}} </h3>
            </div>
            <div class="col-sm-1"></div>
        </div>
        
                <table>
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>PROVEEDOR</th>
                            <th>COMPROBANTE</th>
                            <th>DESCRIPCION</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO NETO</th>
                            <th>PRECIO C/IVA</th>
                            <th>PRECIO TOTAL</th>
                            <th>PAGADO</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for key, value in dictmaster.items %} 
                            <tr>
                                <td> <b> {{key.upper}} </b> </td>
                            </tr>
                            {% for v in value%}
                                
                                    <tr>
                                        <td> {{v.fecha}} </td>
                                    </tr>
                                
                            {% endfor %}

                        {% endfor %}
                    </tbody>
                </table>
        
                <h5>Total Gasto: $ {{ totalgasto | intcomma }}</h5>

		<br>
	        <hr>
		<h5>PRESUPUESTOS</h5>
                <table>
                    <thead>
                        <tr>
			    <th>FECHA</th>
                            <th>CONTRATISTA</th>
                            <th>MONTO ENTREGADO </th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for p in presupuestos %}                   
                        <tr>
			    <td> {{ p.fecha | date:"d-m-Y" }}</td>
                            <td>{{ p.contratista }}</td>
                            <td> $ {{ p.entregado | intcomma }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
                <h5>Total Entregado: $ {{ totalentregado | intcomma }}</h5>
                
                <hr>
                <h4>Total: $ {{ total | intcomma }}</h4>
                <hr>   

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

