{% extends 'base_nomenu.html' %}
{% load humanize %}
{% load static %}

{% block content %}

        {% for nombre, datos in presupuestos.items %}

            <section style="page-break-before: always;">
                
                <div class="row">
                    <div class="col-sm-12"><h5> RESUMEN PRESUPUESTO. </h5></div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-12">{{nombre}}</div>
                </div>

                <div class="row">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>Cod.</th>
                                <th>Obra</th>
                                <th>Importe</th>
                                <th>Entregado</th>
                                <th>Saldo</th>
                                <th>T. Ejecutado</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
    
                        {% for d in datos %}
                                <tbody>
                                    <tr>
                                        <td width="5%">{{ d.presupuesto__pk }}</td>
                                        <td width="25%">{{ d.presupuesto__obra__descripcion }}</td>
                                        <td width="15%">$ {{ d.totalimporte | intcomma }}</td>
                                        <td width="15%">$ {{ d.totalentregado | intcomma }}</td>
                                        <td width="15%">$ {{ d.saldogeneral | intcomma }}</td>
                                        <td width="10%" style="outline: thin solid; width: 100px; padding:2px; margin:2px"> &nbsp; </td>
                                        <td width="10%" style="outline: thin solid; width: 100px; padding:2px; margin:2px"> &nbsp; </td>
                                    </tr>
                                 
                        {%endfor %}

                        {% for k,v in totales.items %}
                            {% if k == nombre %}
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> <b>  $ {{ v.total_importe | intcomma }} </b> </td>
                                    <td> <b>  $ {{ v.total_entregado | intcomma }} </b></td>
                                    <td> <b>  $ {{ v.total_saldogeneral | intcomma }} </b></td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                                <tr>
                                    <td>DEPOSITO: </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                                <tr>
                                    <td>EFECTIVO: </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>


                        </tbody>
                    </table>    
                </div>

                
                

            </section>

            

            <br>
            
        {% endfor %}

    
            



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

