{% extends 'base_nomenu.html' %}
{% load humanize %}
{% load static %}

{% block content %}

    <!--style>
    @media print{@page {size: landscape}}
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 12px;
    }
    
    th, td {
      text-align: left;
      padding: 0px;
      font-size: 12px;
    }

    .tituloobra {
        font-size: 12px;
    }
    
    .fecha {
        font-size: 10px;
    }
    </style-->

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3"></div>
        </div>

        <h4> RESUMEN PRESUPUESTO </h4>

        {% for nombre, datos in presupuestos.items %}
            <div class="row">
                <div class="col-sm-12">{{nombre}}</div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Obra</th>
                        <th>Importe</th>
                        <th>Entregado</th>
                        <th>Saldo</th>
                        <th>T. Ejecutado</th>
                        <th>Importe</th>
                    </tr>
                </thead>

                {% for d in datos %}

                    <tr>
                        <tbody>
                            <td width="10%">{{ d.presupuesto__pk }}</td>
                            <td width="15%">{{ d.presupuesto__obra__descripcion }}</td>
                            <td width="15%">$ {{ d.totalimporte | intcomma |floatformat:2 }}</td>
                            <td width="15%">$ {{ d.totalentregado | intcomma }}</td>
                            <td width="15%">$ {{ d.saldogeneral | intcomma }}</td>
                            <td width="15%" style="outline: thin solid; width: 100px; padding:2px; margin:2px"> &nbsp; </td>
                            <td width="15%" style="outline: thin solid; width: 100px; padding:2px; margin:2px"> &nbsp; </td>
                        </tbody>           
                        
                    </tr>


                {%endfor %}
        
       
            </table>
            <hr>
        {% endfor %}

    
            



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

