{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Datos de Factura.</h2>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}
                    {{ form.as_p }}
                </form>

                <div id="form-container">

                </div>

                <form method="POST">{% csrf_token %}
                    
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-save"></i>
                                Guardar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="ClearHideForm()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>            
        </div>

        {%if detallefactura %}
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Rubro</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Total</th>
                            <th>Estado</th>
                            <th>Cargador por...</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for detalle in detallefactura %}
                        <tr>
       
                            <td>{{detalle.proveedor.descripcion }}</td>
                            <td>{{detalle.rubro.descripcion }}</td>
                            <td>{{detalle.unidad }}</td>
                            <td>{{detalle.cantidad }}</td>
                            <td>{{detalle.preciounitario }}</td>
                            <td>{{detalle.preciototal }}</td>
                            <td>{{detalle.estadopago }}</td>
                            <td>{{detalle.usuario}} </td>
    
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="LoadDetailBillForm({{detalle.pk}})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        

        
        
    </div>

{% endblock %}

{% block js_extra %}

    <script>

        function ShowDetailBillForm() {
            $("#detallefacturaformulario").show();
        }

        function HideDetailBillForm() {
            $("#detallefacturaformulario").hide();
        }

        function ClearHideForm() {
            $('#form-container').html('');
        }


        function LoadDetailBillForm(pk){

            ClearHideForm();

            $.ajax({
                url: '/pagos/factura/ajaxfacturadetalle/' + pk,
                type: 'GET',
                success: function(response){
                    $('#form-container').html(response.form_html);
                },
                error: function(error){
                    console.log(error);

                }

            })

        }

        $(document).ready(function () {
            HideDetailBillForm();
            $('#id_obra').select2();
        });



    
   
        function IrListadoFactura() {
            window.location.replace("/pagos/factura/listado");
        }
    </script>

{% endblock %}