{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Datos de Factura.</h2>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}
                    {{ form.as_p }}

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListadoFactura()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>            
        </div>

        {%if detallefactura %}
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Rubro</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Total</th>
                            <th>Cargador por...</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for detalle in detallefactura %}
                        <tr>
       
                            <td>{{detalle.proveedor.descripcion }}</td>
                            <td>{{detalle.rubro.descripcion }}</td>
                            <td>{{detalle.cantidad }}</td>
                            <td>{{detalle.preciounitario }}</td>
                            <td>{{detalle.preciototal }}</td>
                            <td>{{detalle.usuario}} </td>
    
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="location.href='/pagos/factura/edit/' + {{ resultado.pk }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        

        
        
    </div>

{% endblock %}

{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_obra').select2();
        });

    
    </script>
    
    
    <script>
        function IrListadoFactura() {
            window.location.replace("/pagos/factura/listado");
        }
    </script>

{% endblock %}