{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Detalle de pago. </h3>
                <h3>Obra: {{obra}} </h3>
                <h3>Rubro: {{rubro}}</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="data-obra-form" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                

                    <div id="form-container">

                    </div>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-save"></i>
                                Guardar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="ClearHideForm()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <br>
                </form>

            </div>            
        </div>

    </div>

{% endblock %}

{% block js_extra %}

    <script>

        function TranslateDatepickerToEs(){
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
            $(function () {
                $("#id_fecha").datepicker();
                $("#id_fechacheque").datepicker();
            });
        }


        function ChangeModoPago(){
            $('#id_modopago').on('change', function() {
                if(this.value == "Cheque"){
                    $("#id_fechacheque").datepicker('enable');
                    $('#id_numerocheque').prop('disabled', false);
                    $('#id_banco').prop('disabled', false);
                }else{
                    $("#id_fechacheque").datepicker('disable');
                    $('#id_numerocheque').prop('disabled', true);
                    $('#id_banco').prop('disabled', true);
                }
            });
        }

        function ChangeModoPagoOnload(){

            let valormodopago = $('#id_modopago').val();

            console.log(valormodopago);

            if(valormodopago=='Cheque'){
                $('#id_fechacheque').datepicker('enable');
                $('#id_numerocheque').prop('disabled', false);
                $('#id_banco').prop('disabled', false);
            }else{
                $('#id_fechacheque').datepicker('disable');
                $('#id_numerocheque').prop('disabled', true);
                $('#id_banco').prop('disabled', true);
            }
        }

        $(document).ready(function () {
            ChangeModoPagoOnload();
            TranslateDatepickerToEs();
            ChangeModoPago();
            //$('#btn-guardar').prop('disabled', true);
            $('#id_obra').select2();
        });


        function IrListadoFactura() {
            window.location.replace("/pagos/factura/listado");
        }


        function IrOrdenPago(id) {
            window.location.replace("/pagos/factura/listado");
        }
        
    </script>

{% endblock %}
