{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Detalle de Pago por Obra - Nro. Orden {{pk}}</h3>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="data-obra-form" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                

                    <div id="form-container">

                    </div>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="button">
                                <i class="fas fa-save"></i>
                                Guardar
                            </button>
                        </div>

                        <div class="col-3">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-secondary" id="btn-agregar" onclick="LoadEmptyDetailBillForm()">
                                <i class="fa fa-plus"></i>
                                Agregar
                            </button>
                        </div>

                        <div class="col-3">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="ClearHideForm()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <br>
                </form>

            </div>            
        </div>

        {%if detallefactura %}
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Rubro</th>
                            <th>Unidad</th>
                            <th>Cant.</th>
                            <th>P. U.</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Cargó...</th-->
                            <th>Accion</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for detalle in detallefactura %}
                        <tr>       
                            <td>{{detalle.proveedor.descripcion.upper }}</td>
                            <td>{{detalle.rubro.descripcion.upper }}</td>
                            <td>{{detalle.unidad.upper }}</td>
                            <td>{{detalle.cantidad }}</td>
                            <td>{{detalle.preciounitario }}</td>
                            <td>{{detalle.preciototal|floatformat:2 }}</td>
                            <td>{{detalle.estadopago.upper }}</td>
                            <td>{{detalle.usuario.username.upper}} </td-->

                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="LoadDetailBillForm({{detalle.pk}})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-sm" onclick="IrOrdenPago({{detalle.pk}})">
                                    <i class="fas fa-money-bill-wave"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block js_extra %}

    <script>

        var id_factura = {{pk}};

        var id_detalle_factura = 0;

        var id_obra = 0;

        function HideDetailBillForm() {
            $("#detallefacturaformulario").hide();
        }


        function EnableButton(){
            if(!$('#id_cantidad').val()){
                alert("Noooo")
            }
        }


        function ClearHideForm() {
            $('#form-container').html('');
            id_detalle_factura = 0;
            id_obra = 0;
            $('#btn-guardar').prop('disabled', true);
        }


        function LoadDetailBillForm(pk){
            ClearHideForm();
            $.ajax({
                url: '/pagos/factura/ajaxfacturadetalle/' + pk,
                type: 'GET',
                success: function(response){
                    $('#form-container').html(response.form_html);
                    $('#id_proveedor').select2();
                    $('#id_rubro').select2();
                },
                error: function(error){
                    console.log(error);
                }
            })
            
            $('#btn-guardar').prop('disabled', false);
    
            id_detalle_factura = pk;
        }


        function LoadEmptyDetailBillForm(){
            ClearHideForm();
            $.ajax({
                url: '/pagos/factura/ajaxloadformfacturadetalle/',
                type: 'GET',
                success: function(response){
                    $('#form-container').html(response.form_html);
                    $('#id_proveedor').select2();
                    $('#id_rubro').select2();
                },
                error: function(error){
                    console.log(error);
                }
            })

            id_detalle_factura = 0;

            $('#btn-guardar').prop('disabled', false);

            id_obra = $('#id_obra').select2('data')[0].id;
        }


        function CargarRubro(){
            var value_select_proveerdor = $('#id_proveedor').select2('data'); 
            var proveedor = value_select_proveerdor[0].id;

            $("#id_rubro").empty();

            var urlajaxrubro = '/pagos/factura/ajaxcargarselectrubro/' + proveedor;

            $.getJSON(urlajaxrubro, function(response) {
                console.log(response);
                $('#id_rubro').select2({
                    data: response
                });
             });
        }


        $(document).ready(function () {

            $('#btn-guardar').prop('disabled', true);

            HideDetailBillForm();
            $('#id_obra').select2();


            $("#btn-guardar").click(function () {
                id_obra = $('#id_obra').select2('data')[0].id;

                id_proveedor = $('#id_proveedor').select2('data')[0].id;

                id_rubro = $('#id_rubro').select2('data')[0].id;

                id_unidad = $('#id_unidad').val();

                id_cantidad = $('#id_cantidad').val();

                id_preciounitario = $('#id_preciounitario').val();

                id_estadopago = $("#id_estadopago" ).val();

                var elementos = [
                    id_obra, 
                    id_proveedor, 
                    id_rubro, 
                    id_unidad, 
                    id_cantidad, 
                    id_preciounitario, 
                    id_estadopago
                ];

                $.each(elementos, function (indexInArray, valueOfElement) {
                    if(valueOfElement==""){
                        alert("Por favor completar todos datos.")
                        return false;
                    }
                });

                var formData = $("#data-obra-form").serializeArray();

                formData.push({name: "id_detalle_factura", value: id_detalle_factura});
                formData.push({name: "id_factura", value: id_factura});
            
                $.ajax({
                    type: "POST",
                    url: "/pagos/factura/ajaxgrabarfactura/",
                    data: formData,
                    success: function (response) {
                        window.location.replace("/pagos/factura/edit/" + response.pk);
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });


        function IrListadoFactura() {
            window.location.replace("/pagos/factura/listado");
        }


        function IrOrdenPago(id) {
            window.location.replace("/pagos/factura/listado");
        }
        
    </script>

{% endblock %}
