{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Detalle de pago - {{obra}} - {{rubro}}</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="data-obra-form" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                

                    <div id="form-container">

                    </div>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="button">
                                <i class="fas fa-save"></i>
                                Guardar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="ClearHideForm()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <br>
                </form>

            </div>            
        </div>

    </div>

{% endblock %}

{% block js_extra %}

    <script>


        function HideDetailBillForm() {
            $("#detallefacturaformulario").hide();
        }


        $(document).ready(function () {

            $('#btn-guardar').prop('disabled', true);

            HideDetailBillForm();
            $('#id_obra').select2();


            $("#btn-guardar").click(function () {
                id_obra = $('#id_obra').select2('data')[0].id;

                id_proveedor = $('#id_proveedor').select2('data')[0].id;

                id_rubro = $('#id_rubro').select2('data')[0].id;

                id_unidad = $('#id_unidad').val();

                id_cantidad = $('#id_cantidad').val();

                id_preciounitario = $('#id_preciounitario').val();

                id_estadopago = $("#id_estadopago" ).val();

                var elementos = [
                    id_obra, 
                    id_proveedor, 
                    id_rubro, 
                    id_unidad, 
                    id_cantidad, 
                    id_preciounitario, 
                    id_estadopago
                ];

                $.each(elementos, function (indexInArray, valueOfElement) {
                    if(valueOfElement==""){
                        alert("Por favor completar todos datos.")
                        return false;
                    }
                });

                var formData = $("#data-obra-form").serializeArray();

                formData.push({name: "id_detalle_factura", value: id_detalle_factura});
                formData.push({name: "id_factura", value: id_factura});
            
                $.ajax({
                    type: "POST",
                    url: "/pagos/factura/ajaxgrabarfactura/",
                    data: formData,
                    success: function (response) {
                        window.location.replace("/pagos/factura/edit/" + response.pk);
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });


        function IrListadoFactura() {
            window.location.replace("/pagos/factura/listado");
        }


        function IrOrdenPago(id) {
            window.location.replace("/pagos/factura/listado");
        }
        
    </script>

{% endblock %}
