{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2>Datos de Facturacion.</h2>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}
                    {{ form.as_p }}

                    <hr>

                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-4">
                            {% if pk %}
                                <button class="btn btn-secondary" id="btn-nuevo" type="button" onclick="AbrirVentana({{pk}})">
                                    <i class="fas fa-plus"></i>
                                    Agregar Item
                                </button>
                            {% endif %}
                        </div>

                        <div class="col-4">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                </form>

                <hr>

                <h5>Total: $ {{facturacion.totalfacturacion}} </h5>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Usuario</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for resultado in resultados %}
                        <tr>
                            <td>{{ resultado.concepto}}  </td>
                            <td>{{ resultado.monto}}  </td>
                            <td>{{ resultado.usuario }}</td>
    
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="location.href='/facturacion/detalle/editar/' + {{ resultado.pk }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-link btn-sm" onclick="location.href='/facturacion/detalle/delete/' + {{ resultado.pk }}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
        </div>
        
    </div>


    

{% endblock %}


{% block js_extra %}

    <script>

        $(document).ready(function () {
            $('#id_obra').select2();
            TranslateDatepickerToEs($("#id_fecha"));
        });
   
        function Volver() {
            window.location.replace("/facturacion/listado");
        }

        function AbrirVentana(pk){
            var urldetallefactura = "/facturacion/detalle/nuevo/" + pk;
            window.location.replace(urldetallefactura);
        }

    </script>

{% endblock %}