
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3> Resumen Ingreso / Egreso por Obra. </h3>
            </div>
            <div class="col-sm-2"></div>
        </div>


        <h4> {{obras}} </h4>
        <h5> Ingresos </h5>
        
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Comprobante</th>
                            <th>Monto</th>
                        </tr>
                    </thead>

                        <tbody>
                            {% for cobro in cobros  %}
                                <tr>
                                    <td>{{ cobro.fecha | date:"d-m-Y" }}  </td>
                                    <td>{{ cobro.descripcion }}  </td>
                                    <td>{{ cobro.comprobante }}  </td>
                                    <td>$ {{ cobro.totalfacturacion | intcomma }}</td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td> <b> Suma INGRESOS </b> </td>
                                <td> </td>
                                <td> </td>
                                <td>$ {{totalcobros | intcomma }}</td>
                            </tr>
                        </tbody>
                </table>
        <hr>

        <h5> Egresos </h5>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Monto</th>
                    </tr>
                </thead>

                <tbody>
                    {% for devengamiento in devengamientos %}
                        <tr>
                            <td>{{ devengamiento.rubro__descripcion }}  </td>
                            <td>$ {{ devengamiento.sum_custom_method | intcomma }}  </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td> <b> Suma EGRESOS </b> </td>
                        <td>$ {{totalpagos | intcomma}}  </td>
                    </tr>
                </tbody>
            </table>
        
        <hr>

        <h5> Saldo: $ {{ saldo | intcomma }} </h5>
    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

