
{% extends 'base_nomenu.html' %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h3> Reporte Factura - {{facturaproveedor.proveedor}} - {{facturaproveedor.fecha}} - {{facturaproveedor.comprobante}} </h3>
            </div>
            <div class="col-sm-1"></div>
        </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Obra</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Monto Factura</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for detalle in detallefacturaproveedor%}

                        <tr>
                            <td>{{ detalle.factura.fecha }}  </td>
                            <td>{{ detalle.obra }} </td>
                            <td>{{ detalle.descripciondetalle }} </td>
                            <td>{{ detalle.cantidad }}  </td>
                            <td>$ {{ detalle.gettotal | floatformat:2 }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h5>Total: $ {{total | floatformat:2 }}</h5>
        <hr>

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

