
{% extends 'base_nomenu.html' %}

{% load humanize %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-10"><h3> Resumen Factura</h3> </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-10"><h3><b>{{facturaproveedor.proveedor}}</b></h3></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
        </div>

        {% for detalle in detallefacturaproveedor%}

        <div class="row">
            <div class="col-sm-10"><h3> Resumen Factura - {{facturaproveedor.proveedor}} - {{facturaproveedor.fecha}} - {{facturaproveedor.comprobante}} </h3></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
        </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Comprobante</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Final incl Impuestos</th>
                        </tr>
                    </thead>

                    <tbody>
                        

                        <tr>
                            <td>{{ detalle.factura.fecha }}  </td>
                            <td>{{ detalle.factura.comprobante }} </td>
                            <td>{{ detalle.descripciondetalle }} </td>
                            <td>{{ detalle.cantidad }} </td>
                            <td>$ {{ detalle.getpreciounitario | intcomma }} </td>
                            <td>$ {{ detalle.getpreciototalfinal | intcomma }} </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <!--h5>Ajuste: $ {{ facturaproveedor.ajusteglobal | floatformat:2  }}</h5-->
                <h5>Total: $ {{ facturaproveedor.gettotalfactura | intcomma  }}</h5>
                {% for b in banco %}
					<h6>Banco: {{b.descripcionbanco.upper}} </h6>
					<h6>Alias: {{b.alias}} </h6>
					<h6>CBU: {{b.cbu}} </h6>
                {% endfor %}
        <hr>

    </div>



{% endblock %}


    <script>
        $(document).ready(function () {
            
        });

    
    </script>

