
{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3> Reportes. </h3>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}


        <form action="/reportes/" method="GET">
            <div class="form-inline">
                <div class="col-6">
                    <label>Obra</label>
                    <select id="id_obra">
                        <option value=0>------ </option>
                        {% for obra in obras %}
                            <option value={{obra.pk}}> {{obra.descripcion.upper }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-6">
                    <label>Proveedores</label>
                    <select id="id_proveedor">
                        <option value=0>------ </option>
                        {% for proveedor in proveedores %}
                            <option value={{proveedor.pk}}> {{proveedor.razonsocial.upper }} </option>
                        {% endfor %}
                    </select>
                </div>

                
            </div>

            <hr>

            <div class="form-inline">

                <div class="col-6">
                    <label>Facturas Pagadas </label>
                    <select id="id_facturaspagadas">
                        <option value=0>------ </option>
                        {% for facturapagada in facturaspagadas %}
                            <option value={{facturapagada.pk}}> {{facturapagada.comprobante }} -  {{facturapagada.proveedor }}   </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-6">
                    <label>Facturas Impagas </label>
                    <select id="id_facturasimpagas">
                        <option value=0>------ </option>
                        {% for facturaimpaga in facturasimpagas %}
                            <option value={{facturaimpaga.pk}}> {{facturaimpaga.comprobante }} -  {{facturaimpaga.proveedor }}   </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <hr>

            <div class="form-inline">
                <div class="col-4">
                </div>

                <div class="col-4">
                    <button type="button" class="btn btn-default" title="Generar" onclick="Consultar()">
                        <i class="fas fa-play"></i>
                    </button>
                </div>

                <div class="col-4">
                </div>
            </div>

            <br>

        </form>
    </div>

{% endblock %}


{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_obra').select2();
            $('#id_proveedor').select2();
            $('#id_facturaspagadas').select2();
            $('#id_facturasimpagas').select2();
        });

    
    </script>

{% endblock %}
