
{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3> Reportes. </h3>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}


        <form action="/reportes/" method="GET">
            <div class="form-inline">
                <div class="col-6">
                    <label>Proveedores</label>
                    <select id="id_proveedor" class="form-control">
                        {% for proveedor in proveedores %}
                            <option value={{proveedor.pk}}> {{proveedor.proveedor }} - {{proveedor.comprobante}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-6">
                    <label>Banco</label>
                    <select id="id_banco" class="form-control">
                    </select>
                </div>
                
            </div>

            <hr>

            <div class="form-inline">
                <div class="col-6">
                </div>
            </div>

            <div class="form-inline">
                <div class="col-4">
                </div>

                <div class="col-4">
                    <button type="button" class="btn btn-default" title="Generar" onclick="AbrirVentanaReporte()">
                        <i class="fas fa-play"></i>
                    </button>
                </div>

                <div class="col-4">
                </div>
            </div>

            <br>

        </form>
    </div>

{% endblock %}


{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_proveedor').select2();
        });


        $("#id_proveedor").on('change', function(e) {
            var idproveedor = $(this).select2('data')[0].id;
            CargarCombo($(this).select2('data')[0].id);
        });


        function CargarCombo(id){
            $.ajax({
                type: "GET",
                url: "/ajaxbancoproveedor/" + id,
                dataType: "json",
                success: function (response) {
                    var select = $('#id_banco');
                    select.empty();

                    $.each(response, function(index, value) {
                    select.append($('<option>', {
                        value: value.id,
                        text: value.text
                    }));
            });
                }
            });
        }

        function AbrirVentanaReporte(){
            var id_proveedor = $("#id_proveedor").val();
            var id_banco = $("#id_banco").val();
            var urldetallefactura = "/detallereporte/?id_proveedor=" + id_proveedor + "&id_banco=" + id_banco ;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }



    
    </script>

{% endblock %}
