
{% extends 'base_nomenu.html' %}

{% block content %}
    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Detalle Factura </h3>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            
            <div class="col-12">
                <hr>
                <form  method="POST" id="myform" >{% csrf_token %}
                    {{ form.as_p }}

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="BotonCancelar()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>
            
        </div>
        
    </div>

{% endblock %}


{% block js_extra %}

    <script>

        function BotonCancelar(){
            window.close();
        }

        function LoadDetailUnit(pk){
            $.ajax({
                url: '/facturas/ajax/loadunidad/' + pk,
                type: 'GET',
                success: function(response){
                    console.log(response.data);
                    $('#id_unidad').val(response.data);
                },
                error: function(error){
                    console.log(error);
                }
            })
        }


        function val() {
            d = document.getElementById("id_descripciondetalle").value;
        }

        $('#id_descripciondetalle').change(function(){
            LoadDetailUnit($(this).val());
        })


        $(document).ready(function () {
            TranslateDatepickerToEs($("#id_fecha"));
            window.onunload = function(){
                window.opener.location.reload();
                window.close(); 
            };
            $("#id_obra").select2();
            $("#id_rubro").select2();
            $("#id_descripciondetalle").select2();

            $( "#myform" ).on( "submit", function( event ) {
               

            });
        });

    </script>

{% endblock %}