{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Datos Factura - Nro de Orden {{pk}}. </h3>
            </div>
            <div class="col-sm-3"></div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">  
            <div class="col-12">
                <hr>

                <form role=form method="POST">{% csrf_token %}
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_fecha">Fecha</label>
                            {{form.fecha}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_proveedor">Proveedor</label>
                          <select class="form-control" id="id_proveedor" name="proveedor">
                            <option value="0">"------------------"</option>
                            {% for proveedor in proveedores %}
                                {%if proveedor.pk == factura.proveedor.pk%}
                                    <option value={{proveedor.pk}} selected> {{ proveedor.razonsocial.upper}} </option>
                                {%else%}
                                    <option value={{proveedor.pk}}> {{ proveedor.razonsocial.upper}} </option>
                                {%endif%}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Comprobante</label>
                            {{form.comprobante}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Descuento global</label>
                            {{form.descuentoglobal}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Precepcion global</label>
                              {{form.preciocepcionglobal}}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Ajuste global</label>
                              {{form.ajusteglobal}}
                          </div>
                        </div>
                    </div>
                    
                    <br>

                    <table class="table ">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr>
                                <td><h5>Subtotal: $ {{factura.getsubtotalfactura | intcomma }}</h5></td>
                                <td><h5>Descuento: $ {{factura.descuentoglobal | intcomma}}</h5></td>
                                <td><h5>IVA: $ {{factura.getiva | intcomma}}</h5></td>
                                <td><h5>Ingresos Brutos: $ {{factura.getiibb | intcomma}}</h5></td>
                                <td><h5>Total: $ {{ factura.gettotalfactura | intcomma}}</h5></td>
                            </tr>
                        </tbody>
        
                    </table>
                    
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>
                        
                        <div class="col-3">
                            <!--button class="btn btn-secondary" id="btn-nuevo" type="button" onclick="AbrirVentana({{pk}})"-->
                            <button class="btn btn-secondary" id="btn-nuevo" type="button" onclick="HabilitarDetalleItem(0)">
                                <i class="fas fa-plus"></i>
                                Agregar Item
                            </button>
                        </div>

                        <div class="col-3">
                            <button class="btn btn-secondary" id="btn-resumen" type="button" onclick="Resumen({{pk}})">
                                <i class="fas fa-file-alt"></i>
                                Resumen
                            </button>
                        </div>

                        <div class="col-3">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>

        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Obra</th>
                        <th>Rubro</th>
                        <th>Descripcion</th>
       		            <th>Cantidad</th>
                        <th>Unidad </th>
                        <th>Precio Unitario</th>
                        <th>Precio Final</th>
                        <th>Importe</th>
                        <th>Usuario</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for detallefactura in detallesfactura %}
                        <tr>                        
                            <td>{{ detallefactura.obra }} </td>
                            <td>{{ detallefactura.rubro }} </td>
                            <td>{{ detallefactura.descripciondetalle.descripciondetalle.upper }} </td>
                            <td>{{ detallefactura.cantidad }} </td>
                            <td>{{ detallefactura.unidad.descripcion }}</td>
                            <td>$ {{ detallefactura.getpreciounitario | intcomma }}</td>
                            <td>$ {{ detallefactura.getpreciounitariofinal | floatformat:2|intcomma }}</td>
                            <!--td>$ {{ detallefactura.getpreciounitariobruto |floatformat:2 }} </td-->
                            <td>$ {{ detallefactura.getpreciofinaltotalitem | intcomma }} </td>
                            <td>{{ detallefactura.usuario }}</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="cargarDetalleItemFactura({{detallefactura.pk}})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-sm" onclick="BorrarDetalle({{detallefactura.pk}})">
                                    <i class="fas fa-trash"></i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="col-12">
                <hr>
                <form id="form-detalleitem" role=form method="POST">{% csrf_token %}

                    <div class="row">
                        <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_obra">Obra</label>
                          <select class="form-control" id="id_obra" name="obra">
                            {% for obra in obras %}
                              <option value={{obra.pk}}> {{ obra.descripcion.upper}} </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_proveedor">Rubro </label>
                          <select class="form-control" id="id_rubro" name="rubro">
                            {% for rubro in rubros %}
                              <option value={{rubro.pk}}> {{ rubro.descripcion.upper}} </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_descripciondetalle">Detalle</label>
                            <select class="form-control" id="id_descripciondetalle" name="descripciondetalle">
                              {% for descripciondetalle in descripciondetalles %}
                                <option value={{descripciondetalle.pk}}> {{ descripciondetalle.descripciondetalle.upper}} </option>
                              {% endfor %}
                            </select>
                            
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_unidad">Unidad </label>
                          <select class="form-control" id="id_unidad" name="unidad">
                            {% for unidad in unidades %}
                              <option value={{unidad.pk}}> {{ unidad.descripcion.upper}} </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_cantidad">Cantidad</label>
                            <input class="form-control" id="id_cantidad" name="cantidad" type="number">
                        </div>
                      </div>
                      
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_preciototal">Precio total</label>
                            <input class="form-control" id="id_preciototal" name="preciototal" type="number">
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_iva"> IVA </label>
                          <select class="form-control" id="id_iva" name="iva">
                            {% for iva in ivas %}
                              <option value={{iva.pk}}> {{ iva.retencion }} </option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_descuentos"> Descuentos </label>
                            <input class="form-control" id="id_descuentos" name="descuentos" type="number">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_porcentajedescuentos"> Porcentaje Descuentos </label>
                            <input class="form-control" id="id_porcentajedescuentos" name="porcentajedescuentos" type="number">
                        </div>
                      </div>
                      
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_Ajuste"> Ajuste </label>
                            <input class="form-control" id="id_Ajuste" name="Ajuste" type="number">
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-sm-12">
                          <label for="id_rodado"> Rodado </label>
                          <select class="form-control" id="id_rodado" name="rodado">
                            {% for rodado in rodados %}
                              <option value={{rodado.pk}}> {{ rodado.dominio }} - {{ rodado.descripcion }} </option>
                            {% endfor %}
                          </select>
                      </div>
                    </div>
                </form>

                <br>

                <div class="row">
                  <div class="col-4">
                      <button class="btn btn-primary" id="btn-guardar" onclick="guardarDetalleItem()"">
                          <i class="fas fa-check"></i>
                          Guardar Detalle
                      </button>
                  </div>
                  
                  <div class="col-4">
                  </div>

                  <div class="col-4">    
                      <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="cancelarDetallerItem()">
                          <i class="far fa-times-circle"></i>
                          Cancelar Detalle
                      </button>
                  </div>
              </div>


            </div>
        </div>

    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var actualizacion = null;

        var editarDetalleItem = 0;

        var idFactura = {{pk}};

        var id_detallefactura = null;
       
        $(document).ready(function () {
            TranslateDatepickerToEs($("#id_fecha"));
            
            $("#id_descripciondetalle").select2(
                {
                    tags: true,
                    placeholder: "Selecciona o agrega una opcion",
                    allowClear: true
                });

            $("#id_detalle").select2();
            $("#id_iibb").select2();
            $("#id_iva").select2();
            $("#id_obra").select2();
            $("#id_rodado").select2();
            $("#id_rubro").select2();
            $("#id_unidad").select2();

            $('#id_proveedor').select2(
                { 
                    tags: true, 
                    placeholder: "Selecciona o agrega una opcion", 
                    allowClear: true 
                }
            );

            limpiarDetalleItem();
            DeshabilitarDetalleItem();
            
        });


        function cancelarDetallerItem(){
          limpiarDetalleItem();
          DeshabilitarDetalleItem();
        }


        function cargarDetalleItemFactura(pk) {
          $.ajax({
            url: "/facturas/ajax/cargarfacturadetail/" + pk,
            type: "GET",
            dataType: "json",
            success: function(respuesta) {
              console.log(respuesta.detalle);
              console.log(respuesta.obra);
              HabilitarDetalleItem(1);
              $('#id_ajuste').val(respuesta.ajuste);
              $('#id_cantidad').val(respuesta.cantidad);
              $("#id_descripciondetalle").val(respuesta.detalle).trigger('change');;
              $("#id_descuento").val(respuesta.descuento);
              $("#id_porcentajedescuentos").val(respuesta.descuentoporcentaje);
              $("#id_detalleitem").val(respuesta.detalle);
              $('#id_iva').val(respuesta.iva).trigger('change');
              $('#id_obra').val(respuesta.obra).trigger('change');
              $('#id_preciototal').val(respuesta.preciototal);
              $('#id_rubro').val(respuesta.rubro).trigger('change');
              $('#id_unidad').val(respuesta.unidad).trigger('change');
              $('#id_rodado').val(respuesta.rodado).trigger('change');
            },
            error: function(xhr, status, error) {
              console.error("Ocurrió un error: ", error);
            }
          });
        }


        function DeshabilitarDetalleItem(){
            $("#form-detalleitem :input").prop("disabled", true);
        }


        function guardarDetalleItem(){
          let datos = {
            ajuste: $('#id_ajuste').val(),
            cantidad: $('#id_cantidad').val(),
            descuento: $("#id_descuento").val(),
            detalleitem: $("#id_descripciondetalle").val(),
            editar: editarDetalleItem,
            idFactura: idFactura,
            iva: $('#id_iva').val(),
            obra: $('#id_obra').val(),
            preciototal: $('#id_preciototal').val(),
            porcentajedescuentos: $("#id_porcentajedescuentos").val(),
            rodado: $('#id_rodado').val(),
            rubro: $('#id_rubro').val(),
            unidad: $('#id_unidad').val(),
          };

          let datosJSON = JSON.stringify(datos);

          $.ajax({
            url: '/facturas/ajax/savefacturadetail/',
            type: 'POST',
            contentType: 'application/json',
            data: datosJSON,
            success: function(respuesta) {
              console.log('Respuesta del servidor:', respuesta);
            },
            error: function(error) {
              console.error('Error al enviar los datos:', error); 
            }
          });
        }


        function HabilitarDetalleItem(valor){
            if(valor==1){
              editarDetalleItem=1;
            }else{
              editarDetalleItem=0;
            }
            $("#form-detalleitem :input").prop("disabled", false);
        }

        
        function limpiarDetalleItem(){
          $('#id_ajuste').val("");
          $('#id_cantidad').val("");
          $("#id_descripciondetalle").val("").trigger('change');
          $("#id_descuento").val("");
          $("#id_porcentajedescuentos").val("");
          $("#id_detalleitem").val("");
          $('#id_iva').val("").trigger('change');
          $('#id_obra').val("").trigger('change');
          $('#id_preciototal').val("");
          $('#id_rubro').val("").trigger('change');
          $('#id_unidad').val("").trigger('change');
          $('#id_rodado').val("").trigger('change');
        }


        function Volver() {
            window.location.replace("/facturas/listado");
        }


        function AbrirVentana(pk){
            window.location.replace("/facturas/detalle/nuevo/" + pk);
        }

        
        function AbrirVentanaEditar(pk){
            window.location.replace("/facturas/detalle/editar/" + pk);
        }


        function AbrirVentanaPagos(pk){
            var urldetallefactura = "/facturas/detalle/editar/" + pk;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }


        function BorrarDetalle(pk){
            var urldetallefactura = "/facturas/delete/" + pk;
            //window.open(urldetallefactura,"Ratting","width=700,height=400,left=100,top=100,toolbar=0,status=0,");
            window.location.replace(urldetallefactura);
        }


        function Resumen(pk) {
            var fecha = new Date();
            var  dia = fecha.getDate().toString().padStart(2, '0');
            var mes = (fecha.getMonth() + 1).toString().padStart(2, '0'); // Los meses en JavaScript comienzan en 0
            var anio = fecha.getFullYear();
            var fechaDesde = dia + "/" + mes + "/" + anio;
            var urldetallefactura = "/detallereporte/?id_proveedor=" + pk + "&id_banco=&id_fechadesde=" + fechaDesde + "&id_fechahasta="+fechaDesde;
            window.open(urldetallefactura,"Ratting","width=1000,height=850,left=100,top=100,toolbar=0,status=0,");
        }

    </script>

{% endblock %}
