{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div >

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Datos Factura - Nro de Orden {{pk}}. </h3>
            </div>
            <div class="col-sm-3"></div>
        </div>


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">  
            <div class="col-12">
                <hr>

                <form role=form method="POST">{% csrf_token %}
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_fecha">Fecha</label>
                            {{form.fecha}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_proveedor">Proveedor</label>
                          <select class="form-control" id="id_proveedor" name="proveedor">
                            <option value="0">"------------------"</option>
                            {% for proveedor in proveedores %}
                                {%if proveedor.pk == factura.proveedor.pk%}
                                    <option value={{proveedor.pk}} selected> {{ proveedor.razonsocial.upper}} </option>
                                {%else%}
                                    <option value={{proveedor.pk}}> {{ proveedor.razonsocial.upper}} </option>
                                {%endif%}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Comprobante</label>
                            {{form.comprobante}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Descuento global</label>
                            {{form.descuentoglobal}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Precepcion global</label>
                              {{form.preciocepcionglobal}}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Ajuste global</label>
                              {{form.ajusteglobal}}
                          </div>
                        </div>
                    </div>
                    
                    <br>

                    <table class="table ">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr>
                                <td><h5>Subtotal: $ {{factura.getsubtotalfactura | intcomma }}</h5></td>
                                <td><h5>Descuento: $ {{factura.descuentoglobal | intcomma}}</h5></td>
                                <td><h5>IVA: $ {{factura.getiva | intcomma}}</h5></td>
                                <td><h5>Ingresos Brutos: $ {{factura.getiibb | intcomma}}</h5></td>
                                <td><h5>Total: $ {{ factura.gettotalfactura | intcomma}}</h5></td>
                            </tr>
                        </tbody>
        
                    </table>
                    
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>
                        
                        <div class="col-3">
                            <button class="btn btn-secondary" id="btn-nuevo" type="button" onclick="AbrirVentana({{pk}})">
                                <i class="fas fa-plus"></i>
                                Agregar Item
                            </button>
                        </div>

                        <div class="col-3">
                            <button class="btn btn-secondary" id="btn-resumen" type="button" onclick="Resumen({{pk}})">
                                <i class="fas fa-file-alt"></i>
                                Resumen
                            </button>
                        </div>

                        <div class="col-3">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>

        </div>



        <div class="row">  
            <div class="col-12">
                <hr>

                <form role=form method="POST">{% csrf_token %}
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="id_obra">Obra</label>
                          <select class="form-control" id="id_obra" name="obra">
                            <option value="0">"------------------"</option>
                            {% for obra in obras %}
                                {%if obra.pk == factura.proveedor.pk%}
                                    <option value={{obra.pk}} selected> {{ obra.descripcion.upper}} </option>
                                {%else%}
                                    <option value={{obra.pk}}> {{ obra.descripcion.upper}} </option>
                                {%endif%}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_proveedor">Proveedor</label>
                          <select class="form-control" id="id_proveedor" name="proveedor">
                            <option value="0">"------------------"</option>
                            {% for proveedor in proveedores %}
                                {%if proveedor.pk == factura.proveedor.pk%}
                                    <option value={{proveedor.pk}} selected> {{ proveedor.razonsocial.upper}} </option>
                                {%else%}
                                    <option value={{proveedor.pk}}> {{ proveedor.razonsocial.upper}} </option>
                                {%endif%}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Comprobante</label>
                            {{form.comprobante}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Descuento global</label>
                            {{form.descuentoglobal}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Precepcion global</label>
                              {{form.preciocepcionglobal}}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Ajuste global</label>
                              {{form.ajusteglobal}}
                          </div>
                        </div>
                    </div>
                    
                    <br>

                 
                    
                    
                    <br>
                </form>
            </div>


           
        

            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Obra</th>
                        <th>Rubro</th>
                        <th>Descripcion</th>
       		            <th>Cantidad</th>
                        <th>Unidad </th>
                        <th>Precio Unitario</th>
                        <th>Precio Final</th>
                        <th>Importe</th>
                        <th>Usuario</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for detallefactura in detallesfactura %}
                        <tr>                        
                            <td>{{ detallefactura.obra }} </td>
                            <td>{{ detallefactura.rubro }} </td>
                            <td>{{ detallefactura.descripciondetalle.descripciondetalle.upper }} </td>
                            <td>{{ detallefactura.cantidad }} </td>
                            <td>{{ detallefactura.unidad.descripcion }}</td>
                            <td>$ {{ detallefactura.getpreciounitario | intcomma }}</td>
                            <td>$ {{ detallefactura.getpreciounitariofinal | floatformat:2|intcomma }}</td>
                            <!--td>$ {{ detallefactura.getpreciounitariobruto |floatformat:2 }} </td-->
                            <td>$ {{ detallefactura.getpreciofinaltotalitem | intcomma }} </td>
                            <td>{{ detallefactura.usuario }}</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="AbrirVentanaEditar({{detallefactura.pk}})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-sm" onclick="BorrarDetalle({{detallefactura.pk}})">
                                    <i class="fas fa-trash"></i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        

    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var actualizacion = null;

        var id_detallefactura = null;
       
        $(document).ready(function () {
            TranslateDatepickerToEs($("#id_fecha"));
            $("#id_detalle").select2();
            $("#id_iibb").select2();
            $("#id_iva").select2();
            $("#id_obra").select2();
            $("#id_rodado").select2();
            $("#id_rubro").select2();
            $("#id_unidad").select2();

            $('#id_proveedor').select2(
                { 
                    tags: true, 
                    placeholder: "Selecciona o agrega una opcion", 
                    allowClear: true 
                }
            );

        });


        function Volver() {
            window.location.replace("/facturas/listado");
        }


        function AbrirVentana(pk){
            window.location.replace("/facturas/detalle/nuevo/" + pk);
        }

        
        function AbrirVentanaEditar(pk){
            window.location.replace("/facturas/detalle/editar/" + pk);
        }


        function AbrirVentanaPagos(pk){
            var urldetallefactura = "/facturas/detalle/editar/" + pk;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }


        function BorrarDetalle(pk){
            var urldetallefactura = "/facturas/delete/" + pk;
            //window.open(urldetallefactura,"Ratting","width=700,height=400,left=100,top=100,toolbar=0,status=0,");
            window.location.replace(urldetallefactura);
        }


        function Resumen(pk) {
            var fecha = new Date();
            var  dia = fecha.getDate().toString().padStart(2, '0');
            var mes = (fecha.getMonth() + 1).toString().padStart(2, '0'); // Los meses en JavaScript comienzan en 0
            var anio = fecha.getFullYear();
            var fechaDesde = dia + "/" + mes + "/" + anio;
            var urldetallefactura = "/detallereporte/?id_proveedor=" + pk + "&id_banco=&id_fechadesde=" + fechaDesde + "&id_fechahasta="+fechaDesde;
            window.open(urldetallefactura,"Ratting","width=1000,height=850,left=100,top=100,toolbar=0,status=0,");
        }

    </script>

{% endblock %}
