{% extends 'base.html' %}

{% block content %}

    <div >

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Datos Factura - Nro de Orden {{pk}}. </h3>
            </div>
            <div class="col-sm-3"></div>
        </div>


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}
                    {{ form.as_p }}

                    <hr>

                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>
                        
                        <div class="col-4">
                            <button class="btn btn-secondary" id="btn-nuevo" type="button" onclick="AbrirVentana({{pk}})">
                                <i class="fas fa-plus"></i>
                                Agregar Item
                            </button>
                        </div>

                        <div class="col-4">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>


            <table class="table ">
                <thead>
                    <tr>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><h5>Subtotal: $ {{factura.getsubtotalfactura | floatformat:2}}</h5></td>
                    </tr>
                    <tr>
                        <td><h5>Descuento: $ {{factura.descuentoglobal | floatformat:2}}</h5></td>
                    </tr>
                    <tr>
                        <td><h5>IVA: $ {{factura.getiva | floatformat:2}}</h5></td>
                    </tr>
                    <tr>
                        <td><h5>Ingresos Brutos: $ {{factura.getiibb | floatformat:2}}</h5></td>
                    </tr>
                    <tr>
                        <td><h5>Total: $ {{ factura.gettotalfactura | floatformat:2}}</h5></td>
                    </tr>

                </tbody>

            </table>


            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Obra</th>
                        <th>Rubro</th>
                        <th>Descripcion</th>
       		            <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Precio Unitario</th>
                        <th>Monto</th>
                        <th>Usuario</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for detallefactura in detallesfactura %}
                        <tr>                        
                            <td>{{ detallefactura.obra }} </td>
                            <td>{{ detallefactura.rubro }} </td>
                            <td>{{ detallefactura.descripciondetalle.descripciondetalle.upper }} </td>
                            <td>{{ detallefactura.cantidad }} </td>
                            <td>{{ detallefactura.unidad.descripcion }}</td>
                            <td>{{ detallefactura.preciounitario }}</td>
                            <td>$ {{ detallefactura.getpreciounitariobruto |floatformat:2 }} </td>
                            <td>{{ detallefactura.usuario }}</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="AbrirVentanaEditar({{detallefactura.pk}})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-sm" onclick="BorrarDetalle({{detallefactura.pk}})">
                                    <i class="fas fa-trash"></i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Items de Factura</h4>
                  <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button-->
                </div>

                <div class="modal-body">
                    <div id="form-new-detail">
                        <form  method="POST">
                        </form>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" onclick="SaveDataModal();">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var actualizacion = null;

        var id_detallefactura = null;

        function LoadEmptyDetailForm(){
            $.ajax({
                url: '/facturas/ajax/showdetailform/',
                type: 'GET',
                success: function(response){
                    $('#form-new-detail').html('');
                    $('#form-new-detail').html(response.form_html);
                    //$('#id_obra').select2();
                    //$('#id_rubro').select2();
                },
                error: function(error){
                    console.log(error);
                }
            })
        }

        function LoadDetailForm(pk){
            $.ajax({
                url: '/facturas/ajax/cargarfacturadetail/' + pk,
                type: 'GET',
                success: function(response){
                    $('#form-new-detail').html(response.form_html);
                    //$('#id_obra').select2();
                },
                error: function(error){
                    console.log(error);
                }
            })

        }

        $(document).ready(function () {
            TranslateDatepickerToEs($("#id_fecha"));
            $("#id_proveedor").select2();
        });


        function OpenModalNew(){
            actualizacion = false;
            $('#modal-default').modal('show');
            LoadEmptyDetailForm();
        }


        function OpenDataModal(pk){
            actualizacion = true;
            $('#modal-default').modal('show');   
            LoadEmptyDetailForm();
            LoadDetailForm(pk);
            id_detallefactura = pk;
        }


        function SaveNewData(){
            var id_facturaproveedor = {{pk}};
            var id_fecha = $("#id_fecha").val();
            var id_proveedor = $("#id_proveedor").val();
            var comprobante = $("#id_comprobante").val();

            var descripcion = $("#id_descripcion").val();

            var id_obra = $("#id_obra").val();
            var id_rubro = $("#id_rubro").val();
            var id_unidad = $("#id_unidad").val();
            var id_cantidad = $("#id_cantidad").val();
            var id_preciounitario = $("#id_preciounitario").val();
            var id_iva = $("#id_iva").val();
            var id_ingresosbrutos = $("#id_ingresosbrutos").val(); 
            var id_descuento = $("#id_descuento").val();
            var id_descuentoporcentaje = $("#id_descuentoporcentaje").val();

            var data = {
                "id_factura": id_facturaproveedor,
                "fecha": id_fecha,
                "id_proveedor": id_proveedor , 
                "comprobante": comprobante, 
                "id_obra": id_obra, 
                "id_rubro": id_rubro, 
                "descripcion": descripcion,
                "id_unidad": id_unidad,
                "cantidad": id_cantidad, 
                "preciounitario": id_preciounitario,
                "iva": id_iva, 
                "ingresosbrutos": id_ingresosbrutos, 
                "descuento": id_descuento, 
                "descuentoporcentaje": id_descuentoporcentaje,
            }

            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: "/facturas/ajax/savenewdetail/",
                dataType: 'json',
                //data: JSON.stringify(data),
                data: data,
                beforeSend: function (xhr){
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function (response) {
                    if(response.status == 200){
                        window.location.replace("/facturas/editar/" + response.pk);
                    }else{
                        alert(response.message)
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }


        function UpdateData(id_detallefactura){
            var id_facturaproveedor = {{pk}};
            var id_fecha = $("#id_fecha").val();
            var id_proveedor = $("#id_proveedor").val();
            var comprobante = $("#id_comprobante").val();

            var descripcion = $("#id_descripcion").val();

            var id_obra = $("#id_obra").val();
            var id_rubro = $("#id_rubro").val();
            var id_unidad = $("#id_unidad").val();
            var id_cantidad = $("#id_cantidad").val();
            var id_preciounitario = $("#id_preciounitario").val();
            var id_iva = $("#id_iva").val();
            var id_ingresosbrutos = $("#id_ingresosbrutos").val(); 
            var id_descuento = $("#id_descuento").val();
            var id_descuentoporcentaje = $("#id_descuentoporcentaje").val();

            var data = {
                "id_factura": id_facturaproveedor,
                "id_detallefactura": id_detallefactura,
                "fecha": id_fecha,
                "id_proveedor": id_proveedor , 
                "comprobante": comprobante, 
                "id_obra": id_obra, 
                "id_rubro": id_rubro, 
                "descripcion": descripcion,
                "id_unidad": id_unidad,
                "cantidad": id_cantidad, 
                "preciounitario": id_preciounitario,
                "iva": id_iva, 
                "ingresosbrutos": id_ingresosbrutos, 
                "descuento": id_descuento, 
                "descuentoporcentaje": id_descuentoporcentaje,
            }
            
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: "/facturas/ajax/updatedetail/",
                dataType: 'json',
                //data: JSON.stringify(data),
                data: data,
                beforeSend: function (xhr){
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function (response) {
                    if(response.status == 200){
                        window.location.replace("/facturas/editar/" + response.pk);
                    }else{
                        alert(response.message)
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            
            id_detallefactura = null;
        }


        function SaveDataModal(){
            if(actualizacion===true){
                UpdateData(id_detallefactura);
                actualizacion = null;
            }else{
                SaveNewData();
                actualizacion = null;
            }
        }


        function Volver() {
            window.location.replace("/facturas/listado");
        }


        function AbrirVentana(pk){
            var urldetallefactura = "/facturas/detalle/nuevo/" + pk;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }

        
        function AbrirVentanaEditar(pk){
            var urldetallefactura = "/facturas/detalle/editar/" + pk;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }


        function AbrirVentanaPagos(pk){
            var urldetallefactura = "/facturas/detalle/editar/" + pk;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }


        function BorrarDetalle(pk){
            var urldetallefactura = "/facturas/delete/" + pk;
            window.open(urldetallefactura,"Ratting","width=700,height=400,left=100,top=100,toolbar=0,status=0,");
        }

    </script>

{% endblock %}
