{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div >

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>Datos Factura - Nro de Orden {{pk}}. </h3>
            </div>
            <div class="col-sm-3"></div>
        </div>


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            
            <div class="col-12">
                <hr>

                <form role=form method="POST">{% csrf_token %}
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_fecha">Fecha</label>
                            {{form.fecha}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="id_proveedor">Proveedor</label>
                          <select class="form-control" id="id_proveedor" name="proveedor">
                            <option value="0">"------------------"</option>
                            {% for proveedor in proveedores %}
                                {%if proveedor.pk == factura.proveedor.pk%}
                                    <option value={{proveedor.pk}} selected> {{ proveedor.razonsocial.upper}} </option>
                                {%else%}
                                    <option value={{proveedor.pk}}> {{ proveedor.razonsocial.upper}} </option>
                                {%endif%}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                          <label>Comprobante</label>
                            {{form.comprobante}}
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Descuento global</label>
                            {{form.descuentoglobal}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Precepcion global</label>
                              {{form.preciocepcionglobal}}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Ajuste global</label>
                              {{form.ajusteglobal}}
                          </div>
                        </div>
                    </div>
                    
                    <br>

                    <table class="table ">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr>
                                <td><h5>Subtotal: $ {{factura.getsubtotalfactura | intcomma }}</h5></td>
                                <td><h5>Descuento: $ {{factura.descuentoglobal | intcomma}}</h5></td>
                                <td><h5>IVA: $ {{factura.getiva | intcomma}}</h5></td>
                                <td><h5>Ingresos Brutos: $ {{factura.getiibb | intcomma}}</h5></td>
                                <td><h5>Total: $ {{ factura.gettotalfactura | intcomma}}</h5></td>
                            </tr>
                        </tbody>
        
                    </table>
                    
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>
                        
                        <div class="col-3">
                            <button class="btn btn-secondary" id="btn-nuevo" type="button" onclick="AbrirVentana({{pk}})">
                                <i class="fas fa-plus"></i>
                                Agregar Item
                            </button>
                        </div>

                        <div class="col-3">
                            <button class="btn btn-secondary" id="btn-resumen" type="button" onclick="Resumen({{pk}})">
                                <i class="fas fa-file-alt"></i>
                                Resumen
                            </button>
                        </div>

                        <div class="col-3">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="Volver()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <br>
                </form>
            </div>


            <table class="table table-hover">
                <thead>
                    <tr>
                    </tr>

                    <tr>
                    </tr>

                    <tr>
                    </tr>

                    <tr>
                    </tr>

                </thead>

                <tbody>
                    <tr>                        
                        <td>
                            <label for="id_obra">Obra</label>
                            <select id="id_obra" class="form-control">
                            {% for obra in obras %}
                                <option value={{obra.pk}}>
                                    {{obra.descripcion}}
                                </option>
                            {% endfor %} 
                            </select>
                        </td>
                        <td>
                            <label for="id_rubro">Rubro</label>
                            <select id="id_rubro" class="form-control">
                                {% for rubro in rubros %}
                                    <option value={{rubro.pk}}>
                                        {{rubro.descripcion}}
                                    </option>
                                {% endfor %} 
                            </select>
                        </td>
                        <td>
                            <label for="id_detalle">Detalle</label>
                            <select id="id_detalle">
                                {% for descripciondetalle in descripciondetalles %}
                                    <option value={{descripciondetalle.pk}}>
                                        {{descripciondetalle.descripciondetalle}}
                                    </option>
                                {% endfor %} 
                            </select>
                        </td>
                        <td>
                            <label for="id_unidad">Unidad</label>
                            <select id="id_unidad">
                                {% for unidad in unidades %}
                                    <option value={{unidad.pk}}>
                                        {{unidad.descripcion}}
                                    </option>
                                {% endfor %} 
                            </select>
                             
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="id_cantidad">Cantidad</label>
                            <input id="id_cantidad" type="number" placeholder="Cantidad">
                        </td>
                        
                        <td> 
                            <label for="id_preciototal">Precio Total</label>
                            <input id="id_preciototal" type="number" placeholder="Precio Total">
                        </td>

                        <td>
                            <label for="id_iva">Iva</label>
                            <select id="id_iva">
                                {% for iva in ivas %}
                                    <option value={{iva.pk}}>
                                        {{iva.retencion}}
                                    </option>
                                {% endfor %} 
                            </select>
                        </td>
                        <td>
                            <label for="id_iibb">Iva</label>
                            <select id="id_iibb">
                                {% for ingresobruto in ingresosbrutos %}
                                    <option value={{ingresobruto.pk}}>
                                        {{ingresobruto.retencion}}
                                    </option>
                                {% endfor %} 
                            </select>
                        </td>
                    </tr>
                    <tr>
                        

                        <td>
                            <input type="number" placeholder="Descuento">
                        </td>
                        
                        <td>
                            <input type="number" placeholder="Descuento pocentaje">
                        </td>
                        
                        <td>
                            <input type="number" placeholder="Ajuste">
                        </td>

                        <td>
                            <label for="id_rodado">Rodado</label>
                            <select id="id_rodado">
                                <option value=0>--------</option>
                                {% for rodado in rodados %}
                                    <option value={{rodado.pk}}>
                                        {{rodado.dominio}} - {{rodado.descripcion}}
                                    </option>
                                {% endfor %} 
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Obra</th>
                        <th>Rubro</th>
                        <th>Descripcion</th>
       		            <th>Cantidad</th>
                        <th>Unidad </th>
                        <th>Precio Unitario</th>
                        <th>Precio Final</th>
                        <th>Importe</th>
                        <th>Usuario</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for detallefactura in detallesfactura %}
                        <tr>                        
                            <td>{{ detallefactura.obra }} </td>
                            <td>{{ detallefactura.rubro }} </td>
                            <td>{{ detallefactura.descripciondetalle.descripciondetalle.upper }} </td>
                            <td>{{ detallefactura.cantidad }} </td>
                            <td>{{ detallefactura.unidad.descripcion }}</td>
                            <td>$ {{ detallefactura.getpreciounitario | intcomma }}</td>
                            <td>$ {{ detallefactura.getpreciounitariofinal | floatformat:2|intcomma }}</td>
                            <!--td>$ {{ detallefactura.getpreciounitariobruto |floatformat:2 }} </td-->
                            <td>$ {{ detallefactura.getpreciofinaltotalitem | intcomma }} </td>
                            <td>{{ detallefactura.usuario }}</td>
                            <td>
                                <button type="button" class="btn btn-link btn-sm" onclick="AbrirVentanaEditar({{detallefactura.pk}})">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-sm" onclick="BorrarDetalle({{detallefactura.pk}})">
                                    <i class="fas fa-trash"></i>
                                </button>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Items de Factura</h4>
                  <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button-->
                </div>

                <div class="modal-body">
                    <div id="form-new-detail">
                        <form  method="POST">
                        </form>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary" onclick="SaveDataModal();">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var actualizacion = null;

        var id_detallefactura = null;

        function LoadEmptyDetailForm(){
            $.ajax({
                url: '/facturas/ajax/showdetailform/',
                type: 'GET',
                success: function(response){
                    $('#form-new-detail').html('');
                    $('#form-new-detail').html(response.form_html);
                    //$('#id_obra').select2();
                    //$('#id_rubro').select2();
                },
                error: function(error){
                    console.log(error);
                }
            })
        }

        function LoadDetailForm(pk){
            $.ajax({
                url: '/facturas/ajax/cargarfacturadetail/' + pk,
                type: 'GET',
                success: function(response){
                    $('#form-new-detail').html(response.form_html);
                    //$('#id_obra').select2();
                },
                error: function(error){
                    console.log(error);
                }
            })

        }

        $(document).ready(function () {
            TranslateDatepickerToEs($("#id_fecha"));
            $("#id_detalle").select2();
            $("#id_obra").select2();
            $("#id_rubro").select2();

            $('#id_proveedor').select2(
                { 
                    tags: true, 
                    placeholder: "Selecciona o agrega una opcion", 
                    allowClear: true 
                }
            );

        });


        function OpenModalNew(){
            actualizacion = false;
            $('#modal-default').modal('show');
            LoadEmptyDetailForm();
        }


        function OpenDataModal(pk){
            actualizacion = true;
            $('#modal-default').modal('show');   
            LoadEmptyDetailForm();
            LoadDetailForm(pk);
            id_detallefactura = pk;
        }


        function SaveNewData(){
            var id_facturaproveedor = {{pk}};
            var id_fecha = $("#id_fecha").val();
            var id_proveedor = $("#id_proveedor").val();
            var comprobante = $("#id_comprobante").val();

            var descripcion = $("#id_descripcion").val();

            var id_obra = $("#id_obra").val();
            var id_rubro = $("#id_rubro").val();
            var id_unidad = $("#id_unidad").val();
            var id_cantidad = $("#id_cantidad").val();
            var id_preciounitario = $("#id_preciounitario").val();
            var id_iva = $("#id_iva").val();
            var id_ingresosbrutos = $("#id_ingresosbrutos").val(); 
            var id_descuento = $("#id_descuento").val();
            var id_descuentoporcentaje = $("#id_descuentoporcentaje").val();

            var data = {
                "id_factura": id_facturaproveedor,
                "fecha": id_fecha,
                "id_proveedor": id_proveedor , 
                "comprobante": comprobante, 
                "id_obra": id_obra, 
                "id_rubro": id_rubro, 
                "descripcion": descripcion,
                "id_unidad": id_unidad,
                "cantidad": id_cantidad, 
                "preciounitario": id_preciounitario,
                "iva": id_iva, 
                "ingresosbrutos": id_ingresosbrutos, 
                "descuento": id_descuento, 
                "descuentoporcentaje": id_descuentoporcentaje,
            }

            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: "/facturas/ajax/savenewdetail/",
                dataType: 'json',
                //data: JSON.stringify(data),
                data: data,
                beforeSend: function (xhr){
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function (response) {
                    if(response.status == 200){
                        window.location.replace("/facturas/editar/" + response.pk);
                    }else{
                        alert(response.message)
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }


        function UpdateData(id_detallefactura){
            var id_facturaproveedor = {{pk}};
            var id_fecha = $("#id_fecha").val();
            var id_proveedor = $("#id_proveedor").val();
            var comprobante = $("#id_comprobante").val();

            var descripcion = $("#id_descripcion").val();

            var id_obra = $("#id_obra").val();
            var id_rubro = $("#id_rubro").val();
            var id_unidad = $("#id_unidad").val();
            var id_cantidad = $("#id_cantidad").val();
            var id_preciounitario = $("#id_preciounitario").val();
            var id_iva = $("#id_iva").val();
            var id_ingresosbrutos = $("#id_ingresosbrutos").val(); 
            var id_descuento = $("#id_descuento").val();
            var id_descuentoporcentaje = $("#id_descuentoporcentaje").val();

            var data = {
                "id_factura": id_facturaproveedor,
                "id_detallefactura": id_detallefactura,
                "fecha": id_fecha,
                "id_proveedor": id_proveedor , 
                "comprobante": comprobante, 
                "id_obra": id_obra, 
                "id_rubro": id_rubro, 
                "descripcion": descripcion,
                "id_unidad": id_unidad,
                "cantidad": id_cantidad, 
                "preciounitario": id_preciounitario,
                "iva": id_iva, 
                "ingresosbrutos": id_ingresosbrutos, 
                "descuento": id_descuento, 
                "descuentoporcentaje": id_descuentoporcentaje,
            }
            
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: "/facturas/ajax/updatedetail/",
                dataType: 'json',
                //data: JSON.stringify(data),
                data: data,
                beforeSend: function (xhr){
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function (response) {
                    if(response.status == 200){
                        window.location.replace("/facturas/editar/" + response.pk);
                    }else{
                        alert(response.message)
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            
            id_detallefactura = null;
        }


        function SaveDataModal(){
            if(actualizacion===true){
                UpdateData(id_detallefactura);
                actualizacion = null;
            }else{
                SaveNewData();
                actualizacion = null;
            }
        }


        function Volver() {
            window.location.replace("/facturas/listado");
        }


        function AbrirVentana(pk){
            window.location.replace("/facturas/detalle/nuevo/" + pk);
        }

        
        function AbrirVentanaEditar(pk){
            window.location.replace("/facturas/detalle/editar/" + pk);
        }


        function AbrirVentanaPagos(pk){
            var urldetallefactura = "/facturas/detalle/editar/" + pk;
            window.open(urldetallefactura,"Ratting","width=750,height=650,left=100,top=100,toolbar=0,status=0,");
        }


        function BorrarDetalle(pk){
            var urldetallefactura = "/facturas/delete/" + pk;
            //window.open(urldetallefactura,"Ratting","width=700,height=400,left=100,top=100,toolbar=0,status=0,");
            window.location.replace(urldetallefactura);
        }

        function Resumen(pk) {
            var fecha = new Date();
            var  dia = fecha.getDate().toString().padStart(2, '0');
            var mes = (fecha.getMonth() + 1).toString().padStart(2, '0'); // Los meses en JavaScript comienzan en 0
            var anio = fecha.getFullYear();
            var fechaDesde = dia + "/" + mes + "/" + anio;
            var urldetallefactura = "/detallereporte/?id_proveedor=" + pk + "&id_banco=&id_fechadesde=" + fechaDesde + "&id_fechahasta="+fechaDesde;
            window.open(urldetallefactura,"Ratting","width=1000,height=850,left=100,top=100,toolbar=0,status=0,");
        }

    </script>

{% endblock %}
